body {
    font-family: 'lato',sans-serif
}

header {
    padding: 20px;
    background-color: cornflowerblue;
    color: white;
    outline: 5px solid black;
    text-align: center;
}

footer a:hover {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 24px;
}

h3 {
    color: black;
    font-weight: bold
}

h4 {
    text-align: center;
    margin-top: 5px;
}

h5 {
    text-decoration: underline;
    font-weight: bold;
}

.c3 {
    margin-bottom: 35px;
}

.city-card-group {
    text-align: center;
    color: black;
}

.card-img-top {
    height: 100px;
    width: auto;
}

@media (max-width: 900px) {
    footer{
        display: flex;
        justify-content: center;
    }
    button{
        width: 100%;
    }
}