body {
  font-family: 'lato',sans-serif;
}

header {
  outline: 5px solid black;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  padding: 10px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

footer img {
  width: 100%;
  height: 70em;
}

#search-area {
  text-align: center;
}

#search-button {
  color: white;
  background-color: cornflowerblue;
  margin: 5px;
}

.container {
  border: 2px solid black;
  outline-style: outset;
  outline-color: grey;
  position: relative;
  top: 50px;
  margin-bottom: 4em;
}

@media (max-width: 900px) {
  footer{
    display: none;
  }
}

button:hover{
  box-shadow: rgba(21, 21, 44, 0.925) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
