body{
    font-family: 'lato',sans-serif
}
h2{
    align-content: center;
}

header{
    outline: 5px solid black;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 10px;
}
.container{
    border: 2px solid black;
    outline-style: outset;
    outline-color: grey;
    position: relative;
    top: 50px;
    
}
.textTitle{
    text-align: center;
}

.imgfoot{
    position: relative;
    right: 200px;
    top: 150px;
    width: 2100px;
   
    
}